@media screen and (min-width:375px){
    body{
 /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
 font-size:calc(100% + 2 * (100vw - 375px) / 39);
 font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}
@media screen and (min-width: 414px) {
        html {
            /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
            font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
            font-size: calc(18px + 4 * (100vw - 414px) / 586);
        }
    }
body,div,img,ul,li,a{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 12px;

}
body{
    background: #f2f0f0;
    overflow-x: hidden;
}
ul{
  list-style: none;
}
a{
    text-decoration: none;
}
header{

 height:20%;
 background: rgb(210, 33, 71);
 color: #fff;
 padding:0.36rem;
 display: flex;
 align-items: center;
}
header div{
    margin-right:2.1rem;
    white-space: nowrap;
}

.search{
    
    border: 1px solid blue;
    padding:0.62rem;
    border-radius:0.8rem;
    background:#fff;
}
.search input{
    border: 0;
    outline: 0;    
}
.place::after{
position: absolute;
content: '';
border-width:0.35rem;
width: 0;
height: 0;
border-style: solid;
border-color:white transparent transparent  transparent;
top: 1.32rem;
}
.about{
    flex:1;
    text-align: right;
}
.box-img img{
    width: 100%;
    height: 12.4rem;
}
.classification {
    margin-top:0.8rem;
    background: #fff;
    text-align: center;
    position: relative;
    margin-bottom:0.8rem;
}
.classification ul{
   list-style: none;
   padding:0 1.3em;
   display: flex;
    flex-wrap: wrap;
   min-width: 233px;
   overflow: hidden;
}
.classification ul li{
  
   padding: 0.1833rem 0 0.2333rem;
   flex: 0 0 25%;
   text-align: center;
}
.classification ul li a{
    color: #525252;
}
.classification ul li:nth-child(1) .topic{
    background: #ea8a57;
}
.classification ul li:nth-child(2) .topic{
    background: #cd9cc9;
}
.classification ul li:nth-child(3) .topic{
    background: #76c0d9;
}
.classification ul li:nth-child(4) .topic{
    background: #7687f1;
}
.classification ul li:nth-child(5)  .topic{
    background: #f56f6c;
}
.classification ul li:nth-child(6)  .topic{
    background: #66ccee;
}
.classification ul li:nth-child(7)  .topic{
    background: #eea83b;
}
.classification ul li:nth-child(8)  .topic{
    background: #7687f1;
}
.topic{
    margin-bottom: 0.1333rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.topic img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.87333rem;
    height: 0.86667rem;
}
.brand ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr
}

.brand ul li a img{
    width: 100%;
}
.map{
    margin: 0.8rem 0rem;
}
.map1,.map2{
    display:flex;
    height:7rem;
}
.map1 div,.map2 div{
  flex: 1;
}
.map2{
    flex-direction: row-reverse;
}
.p1{
    width: 100%;
    height: 100%;
}
.p1 img{
    width: 100%;
    height: 100%;
    display: block;
}
.p2 img{
    height:50%;
    width:100%;
    display: block;
}
.rec{
    background: #fff;
}
.rec-tit{
    border-bottom: 1px solid #cdcdd1;
    position: relative;
}
.rec-tit i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.32rem;
    display: inline-block;
    width: 0.28rem;
    height: 0.96667rem;
    background: #cc0530;
    border-radius: 20px;
   
}
.rec-tit h3{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0;
    padding-left:1rem;
    box-sizing: content-box;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

}
.rec-content .lists li{
   height:6.3rem;
   display: flex;
   padding: 10px;
}
.pic{
    width: 30%;

    height: 100%;
} 
.pic img{
    display: block;
    width: 100%;
    height: 100%;
}
.desc{
    height: 100%;
    width: 70%;

    padding-left:10px;
   
}
.desc a{
    font-size: 18px;
    color: #181818;
    overflow: hidden;
}
.desc .text{
    font-size: 13px;
    line-height: 1.4;
    color: #979797;
    overflow: hidden;
    height: 2rem;
    margin:1rem 0;
}
.tol{
    font-size: 13px;
    color: #525252;
}